*{
  margin: 0;
  padding: 0;
}

.app__main-container{
 display: flex;
 flex-direction: column;
 align-items: center;
 margin: 10%;
  
}
.todo__div{
  display: flex;
  align-items: center;
  background: white;
  margin-bottom: 1rem;
  text-align: center;
  padding: .8rem;
  border-radius: 8px;
  color: rgb(168, 40, 40);
}
.icons{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  margin-left: auto;
  margin-right: .2rem;
  color: rgb(212, 75, 75);
  cursor: pointer;
}

.fa__icon{
  width: .6rem;
}

